In [1]:
from pyspark.sql import SparkSession

In [2]:

spark = SparkSession.builder \
    .appName('Ingest checkin table into bronze') \
    .master('spark://spark-master:7077') \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083")\
    .config("spark.hadoop.fs.s3a.access.key", 'minio') \
    .config("spark.hadoop.fs.s3a.secret.key", 'minio123') \
    .config("spark.hadoop.fs.s3a.endpoint", 'minio:9000')\
    .config("spark.hadoop.fs.s3a.path.style.access", "true")\
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")\
    .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider')\
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")\
    .config('spark.sql.warehouse.dir', f's3a://lakehouse/')\
    .config(
                "spark.jars",
                "/usr/local/spark/jars/delta-core_2.12-2.3.0.jar,/usr/local/spark/jars/hadoop-aws-3.3.2.jar,/usr/local/spark/jars/delta-storage-2.3.0.jar,/usr/local/spark/jars/aws-java-sdk-1.12.367.jar,/usr/local/spark/jars/s3-2.18.41.jar,/usr/local/spark/jars/aws-java-sdk-bundle-1.11.1026.jar",
            )\
    .config('spark.driver.extraClassPath', '/usr/local/spark/jars/hadoop-aws-3.3.2.jar:/usr/local/spark/jars/s3-2.18.41.jar/usr/local/spark/jars/aws-java-sdk-1.12.367.jar/usr/local/spark/jars/delta-core_2.12-2.3.0.jar/usr/local/spark/jars/delta-storage-2.3.0.jar')\
    .config('spark.executor.extraClassPath', '/usr/local/spark/jars/hadoop-aws-3.3.2.jar:/usr/local/spark/jars/s3-2.18.41.jar/usr/local/spark/jars/aws-java-sdk-1.12.367.jar/usr/local/spark/jars/delta-core_2.12-2.3.0.jar/usr/local/spark/jars/delta-storage-2.3.0.jar')\
    .enableHiveSupport()\
    .getOrCreate()

In [ ]:
spark.stop()

In [ ]:
spark.sql('show schemas').show()

In [9]:
spark.sql('create external TABLE db.test3 (name String) using delta')

DataFrame[]

In [4]:
spark.sql('create schema if not exists db')

DataFrame[]

In [ ]:
.config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \

In [8]:
spark.sql('show tables in db').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [6]:
hiveConf = spark._jsparkSession.sessionState().newHadoopConf()
hiveMetastoreURI = hiveConf.get("javax.jdo.option.ConnectionURL")
print(hiveMetastoreURI)

None

In [6]:
t = spark.read \
    .format("parquet") \
    .option("header", "true") \
    .load("s3a://lakehouse/bronze/customer/customer.parquet")

In [8]:
t.write.format('delta').saveAsTable('db.test1')

In [7]:
t.show()

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|              osasco|            SP|
|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|         itapecerica|            MG|
|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|        nova venecia|            ES|
|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|            mendonca|            MG|
|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|           sao paulo|            SP|
|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|            valinhos|            SP|
|000419c5494106c30...|14843983d4a159080...|                   24220|             niteroi|            RJ|
|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|      rio de janeiro|            RJ|
|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|                ijui|            RS|
|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|            oliveira|            MG|
|0005aefbb696d34b3...|616309b2eeb7bd9c0...|                    3052|           sao paulo|            SP|
|00062b33cb9f6fe97...|f90f55ee274a4ae21...|                    2306|           sao paulo|            SP|
|00066ccbe787a588c...|15090f48004f3b0fc...|                   93525|       novo hamburgo|            RS|
|00072d033fe2e5906...|b7c13491fd2aecd93...|                   45026|vitoria da conquista|            BA|
|0009a69b72033b2d0...|fa30145b07cad8e97...|                   13106|            campinas|            SP|
|000bf8121c3412d30...|1bc9b2dad6aefbfbc...|                   12335|             jacarei|            SP|
|000e943451fc2788c...|d73c3cf4a0922ece1...|                   99460|            colorado|            RS|
|000f17e290c26b285...|74541fbb7526dabec...|                   98400|frederico westphalen|            RS|
|000fd45d6fedae68f...|cee6fa72fb403ef95...|                   12970|            piracaia|            SP|
|0010068a73b7c56da...|03dabd77cb0ed7a26...|                   63680|             parambu|            CE|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [6]:
spark.sql(f"CREATE SCHEMA IF NOT EXISTS bronze")
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|   bronze|
|  default|
+---------+

In [8]:
spark.stop()

In [7]:
t.writeTo("bronze.restaurant_transform").using('delta').create()

AnalysisException: Table bronze.restaurant_transform already exists

In [8]:
t.write.format("delta").mode("overwrite").saveAsTable("db1.test")
spark.sql("SHOW TABLES IN db1").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|      db1|     test|      false|
+---------+---------+-----------+

In [17]:
t="silver.cleaned_customers"
deltadf = spark.read.format("delta").load("s3a://lakehouse/silver.db/cleaned_customers")
deltadf.show(5)

+--------------------+--------------------+------------------------+-------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+--------------------+--------------------+------------------------+-------------+--------------+
|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|       osasco|          SP\r|
|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|  itapecerica|          MG\r|
|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830| nova venecia|          ES\r|
|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|     mendonca|          MG\r|
|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|    sao paulo|          SP\r|
+--------------------+--------------------+------------------------+-------------+--------------+
only showing top 5 rows

In [9]:
t="silver.cleaned_customers"
df = spark.read.table(t)

In [10]:
df.show(10)

+--------------------+--------------------+------------------------+--------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix| customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------+--------------+
|00012a2ce6f8dcda2...|248ffe10d632bebe4...|                    6273|        osasco|          SP\r|
|000161a058600d590...|b0015e09bb4b6e47c...|                   35550|   itapecerica|          MG\r|
|0001fd6190edaaf88...|94b11d37cd61cb299...|                   29830|  nova venecia|          ES\r|
|0002414f953443074...|4893ad4ea28b2c5b3...|                   39664|      mendonca|          MG\r|
|000379cdec6255224...|0b83f73b19c2019e1...|                    4841|     sao paulo|          SP\r|
|0004164d20a9e969a...|104bdb7e6a6cdceaa...|                   13272|      valinhos|          SP\r|
|000419c5494106c30...|14843983d4a159080...|                   24220|       niteroi|          RJ\r|
|00046a560d407e99b...|0b5295fc9819d831f...|                   20540|rio de janeiro|          RJ\r|
|00050bf6e01e69d5c...|e3cf594a99e810f58...|                   98700|          ijui|          RS\r|
|000598caf2ef41174...|7e0516b486e92ed3f...|                   35540|      oliveira|          MG\r|
+--------------------+--------------------+------------------------+--------------+--------------+
only showing top 10 rows